/* background-image: url(//image/Basket\ ball\ equipmnts.jpg);
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;
             */
.top_banners {
  width: 100%;
  height: 400px;
 background-image: url('../img/All\ banners.jpg');
 background-position: center;
background-size: cover; 
background-repeat: no-repeat;
}

.content h2 {
  color: #615f5f;
}

.content {
  padding: 40px;
  height: 90%;
}